{% extends 'base.html.twig' %}

{% block title %}{{ category }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ category }}</h1>

    {% if category.description is not empty %}
        <p>{{ category.description|nl2br }}</p>

    {% endif %}
{% endblock %}
