{% extends 'base.html.twig' %}

{% block title %}{{ category }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ category }}</h1>

    {% if category.description is not empty %}
        <p>{{ category.description|nl2br }}</p>
    {% endif %}

        <h2>Derniers articles</h2>
        {% include 'article/_list.html.twig' with {'articles': articles} only %}

{% endblock %}
