<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controller="">
    <span class="navbat-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
        {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_admin_category_index', {'id': category.id}) }}">
                {{ category }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>